@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        var jq = $.noConflict();
        var baseUrl = '@((this.Context.Request.IsHttps ? "https://" : "http://") + (this.Context.Request.Host.Value))';
    </script>
    <script src="~/js/vuejs/vue.js"></script>
    <script src="~/js/axios/axios.js"></script>
    <script src="~/js/promise-polyfill/dist/polyfill.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {

            },
            watch: {

            },
            mounted: function () {

            },
            methods: {
                changePassword: function () {
                    var t = document.getElementById("frmchangepassword"), a = {
                        password: document.getElementById("newpassword").value,
                        confirmpassword: document.getElementById("newconfirmpassword").value
                    };

                    axios({
                        method: 'post',
                        url: baseUrl + '@Url.Action("SubmitChangePassword", "Auth")',
                        data: a
                    }).then(t => {
                        Swal.fire("Sukses", t.data.message, "success").then(function () {
                            window.location.href = baseUrl + "/Auth/ChangePassword";
                        })
                    }).catch(t => {
                        Swal.fire("Gagal!", t.data.message, "error")
                    });
                },
            }
        });
    </script>
}

<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Change Password</h4>
                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <form id="frmchangepassword">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">New Password</label>
                                        <div class="col-sm-3">
                                            <input type="password" class="form-control" id="newpassword" value=""  />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">New Confirm Password</label>
                                        <div class="col-sm-3">
                                            <input type="password" class="form-control" id="newconfirmpassword" value="" />
                                        </div>
                                    </div>        
                                    <div class="form-group row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-primary btn-block" v-on:click="changePassword()">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div><!-- container -->
</div>