@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            "use strict";
            //BAR CHART
            var bar = new Morris.Bar({
              element: 'bar-chart',
              resize: true,
                data: @Html.Raw(ViewBag.Data),
                barColors: ['#4d79f6','#FD8A8A'],
                xkey: 'BULAN',
                ykeys: ['A_DANA_MOBIL','A_DANA_RUMAH'],
              labels: ['Dana Mobil','Dana Rumah'],
              hideHover: 'auto'
            });
        });
    </script>
}

<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Dashboard</h4>
                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="row">            
                            <div class="col-md-8 col-sm-12">
                                <p class="text-dark mb-0 fw-semibold text-center">Motion Credit By Account <script>document.write(new Date().getFullYear())</script></p>
                                <div class="chart" id="bar-chart" style="height: 300px; width: 100%;"></div>          
                            </div>
                            <div class="col-md-4 col-sm-12">
                                
                            </div>
                        </div>                                               
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div><!-- container -->     
</div>