!obj/.gitkeep
!obj/Debug/.gitkeep
!bin/.gitkeep
!bin/Debug/.gitkeep
!bin/Debug/net5.0/.gitkeep
!bin/Debug/net5.0/ref/.gitkeep
**/.vs/
**/.vscode/
**/bin/
**/bin/Debug/
**/obj/
.vs/*
.vscode/
bin/*
bin/Debug/*
obj/*
obj/Debug/*
appsettings.json
wwwroot/Survey/*
!wwwroot/Survey/.gitkeep
Libs/PublicKey/*
!Libs/PublicKey/.gitkeep
Properties/PublishProfiles/*
!Properties/PublishProfiles/.gitkeep
