
<div id="appterminate">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="float-md-left">
                <div class="form">
                    <div class="form-group row">
                        <label for="perpage" class="col-md-6 col-sm-12 col-form-label">Per Page</label>
                        <div class="col-md-6 col-sm-12">
                            <select name="perpage" id="perpage" v-model="limit" class="form-control">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="float-md-right">
                <div class="form">
                    <div class="form-group row">
                        <label for="search" class="col-md-6 col-sm-12 col-form-label">Search</label>
                        <div class="col-md-6 col-sm-12">
                            <input type="text" class="form-control" id="search" name="search" v-model="keyword">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="datatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%; overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th>App ID</th>
                            <th>Tanggal</th>
                            <th>Nama Client</th>
                            <th>No Ktp</th>
                            <th>Telepon</th>
                            <th>Status</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody id="tblbody">
                        <template v-for="(item, index) in listSiap">
                            <tr>
                                <td>{{ item.siapId }}</td>
                                <td>{{ new Date(item.creDate).toLocaleString() }}</td>
                                <td>{{ item.fullName }}</td>
                                <td>{{ item.nikNumber }}</td>
                                <td>{{ item.phoneNumber }}</td>
                                <td>{{ item.mfinState }}</td>
                                <td><a class="btn btn-primary" :href="(baseUrl + '/Siap/Details/' + item.entryId + '?type=rumah')">Detail</a></td>
                            </tr>
                        </template>
                        <tr v-if="isLoading">
                            <td colspan="7" style="text-align: center;"><img src="~/assets/images/spinner.gif" style="width: 48px;" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4 justify-content-center">
            <div class="form-group row justify-content-center">
                <button class="btn btn-primary" v-on:click="currPage = currPage-1" :disabled="currPage <= 1">Previous</button>
                &nbsp;
                <select class="form-control" v-model="currPage" style="width: 15%;">
                    <option v-for="n in totalPage" v-bind:value="n">
                        {{ n }}
                    </option>
                </select>
                &nbsp;
                <button class="btn btn-primary" v-on:click="currPage = currPage+1" :disabled="currPage >= totalPage">Next</button>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</div>