@{
    ViewData["Title"] = "Survey Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        var jq = $.noConflict();
        var baseUrl = '@((this.Context.Request.IsHttps ? "https://" : "http://") + (this.Context.Request.Host.Value))';
    </script>
    <script src="~/js/vuejs/vue.js"></script>
    <script src="~/js/axios/axios.js"></script>
    <script src="~/js/promise-polyfill/dist/polyfill.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                baseUrl: baseUrl,
                dt: null,
                surveyresults: [],
                currPage: 1,
                totalPage: 1,
                totalData: 0,
                limit: 10,
                keyword: '',
                isLoading: false
            },
            watch: {
                limit: function (newLimit, oldLimit) {
                    var parseLimit = parseInt(newLimit);
                    this.currPage = 1;
                    this.loadSurveyresult(this.currPage, parseLimit, this.keyword);
                },
                keyword: function (newKeyword, oldKeyword) {
                    this.currPage = 1;
                    this.loadSurveyresult(this.currPage, this.limit, this.keyword);
                },
                currPage: function (newcurrPage, oldcurrPage) {
                    var parsePage = parseInt(newcurrPage);
                    this.loadSurveyresult(parsePage, this.limit, this.keyword);
                }
            },
            mounted: function () {
                this.loadSurveyresult(this.currPage, this.limit, null);
            },
            methods: {
                loadSurveyresult: function (page, limit, keyword) {
                    this.isLoading = true;
                    axios({
                        method: 'get',
                        url: baseUrl + '/Result/GetClientResult/' + page + '/' + limit + (keyword === null || keyword === '' ? '' : '?keyword=' + keyword),
                    }).then((response) => {
                        this.surveyresults = response.data.data;
                        this.totalPage = response.data.totalPage;
                        this.totalData = response.data.totalData;
                    }).catch((error) => {

                    }).then((response) => {
                        this.isLoading = false;
                    });
                }
            }
    });
    </script>
}

<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hasil Survey</h4>
                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="float-md-left">
                                    <div class="form">
                                        <div class="form-group row">
                                            <label for="perpage" class="col-md-6 col-sm-12 col-form-label">Per Page</label>
                                            <div class="col-md-6 col-sm-12">
                                                <select name="perpage" id="perpage" v-model="limit" class="form-control">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="float-md-right">
                                    <div class="form">
                                        <div class="form-group row">
                                            <label for="search" class="col-md-6 col-sm-12 col-form-label">Search</label>
                                            <div class="col-md-6 col-sm-12">
                                                <input type="text" class="form-control" id="search" name="search" v-model="keyword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%; overflow-x: scroll;">
                                        <thead>
                                            <tr>
                                                <th>Nama Ktp</th>
                                                <th>No Ktp</th>
                                                <th>No Polisi</th>
                                                <th>Telepon</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            <template v-for="(item, index) in this.surveyresults">
                                                <tr>
                                                    <td>{{ item.namaKtp }}</td>
                                                    <td>{{ item.noKtp }}</td>
                                                    <td>{{ item.nopol }}</td>
                                                    <td>{{ item.telpno }}</td>
                                                    <td><a class="btn btn-primary" :href="baseUrl + '/Result/Detail/' + item.id">Lihat</a></td>
                                                </tr>
                                            </template>
                                            <tr v-if="isLoading">
                                                <td colspan="7" style="text-align: center;"><img src="~/assets/images/spinner.gif" style="width: 48px;" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-4 justify-content-center">
                                <div class="form-group row justify-content-center">
                                    <button class="btn btn-primary" v-on:click="currPage = currPage-1" :disabled="currPage <= 1">Previous</button>
                                    &nbsp;
                                    <select class="form-control" v-model="currPage" style="width: 15%;">
                                        <option v-for="n in totalPage" v-bind:value="n">
                                            {{ n }}
                                        </option>
                                    </select>
                                    &nbsp;
                                    <button class="btn btn-primary" v-on:click="currPage = currPage+1" :disabled="currPage >= totalPage">Next</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div><!-- container -->

    <div class="modal fade" id="AddModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" v-on:click="closeModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
